@tailwind base;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

html,
body {
  font-family: 'Nunito', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(249, 250, 251, 1);
  color: #222;
  font-weight: 200;
  height: 100%;
  /* background-image: url(../wall-texture.jpg);
  background-repeat: repeat; */
}

/* #__next {
  height: 100%;
} */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* a:active,
a:hover {
  color: #000;
} */

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
